mixin auto(name, props)
	each prop in props
		- attributes = []
		each val,key in prop
			- attributes[key] = val
		if name != 'link'
			#{name}&attributes(attributes)
		else
			link/&attributes(attributes)

extends #{template}

block ﬁ.meta
	if locals.META && META.length
		+auto('meta', META)

block ﬁ.link
	if locals.LINK && LINK.length
		+auto('link', LINK)
	link(rel='stylesheet', href=css('master/view'))
	each asset in assets.css
		if asset
			link(rel='stylesheet', href=css(asset))

block ﬁ.script

	if locals.SCRIPT && SCRIPT.length
		+auto('script', SCRIPT)

	if locals.EXPOSE
		- var __expose = JSON.stringify(locals.EXPOSE, null)
		script!= 'window.EXPOSE=' + __expose

	script(src=js('master/view'))
	each asset in assets.js
		if asset
			script(src=js(asset))

block ﬁ.content
	if locals.content
		!= locals.content
